.pro-container{
    display: flex;
    border-bottom: 1px solid lavender;
    margin-left: 100px;
    margin-right: 30px;
}
.img-container{
    margin-right: 30px;
    margin-top: 10px;
}
.info-container{
    margin-top: 10px;
}
.info-container h4{
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: blue;
}
.info-container h4:hover{
    text-decoration: underline;
    cursor: pointer;
}
.info-container button{
    padding: 5px;
    background-color: #F0C14B;
    width: 250px;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
    cursor: pointer;
}